/db/mysql**

/app/storage/image/book_cover/*
!/app/storage/image/book_cover/.gitkeep
/app/storage/image/profile_pic/*
!/app/storage/image/profile_pic/.gitkeep
/app/storage/audio/*
!/app/storage/audio/.gitkeep

.env