
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    gap:1rem;
}
.details-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    text-align: center;
    gap:0.5rem;
    width: 40%;
}
h2{
    font-size: xx-large;
}

h3{
    font-size: x-large;
}

h4{
    font-size: large;
    color:#353940;
    opacity: 0.9;
}
h5{
    font-size:medium;
    color:#353940;
    opacity: 0.8;
}

