.teal-bar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8.44px;
    display: flex;
    margin-top: auto;
}

nav {
    margin: 0;
    font-family: var(--poppins);
    font-size: 1rem;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    left: 0px;
    width: 15vw;
    height: 100%;
    background: #118A7E;
    transition: all 0.5s ease;
}

.sidebar .top {
    text-align: center;
    line-height: auto;
}

.sidebar .top img {
    vertical-align: middle;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.sidebar ul a {
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 2rem;
    font-size: 1.5vw;
    color: white;
    padding-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-sizing: border-box;
    border-top: 1px solid rgba(6, 255, 251, 0.1);
    border-bottom: 1px solid rgba(125, 134, 146, 0.302);
    transition: all 0.5s ease;
    flex-wrap: wrap;
}

ul li a img {
    filter: brightness(0) invert(1);
}

ul li:hover a {
    padding-left: 2rem;
    background: #fff;
    color: rgb(0, 0, 0);
}

ul li:hover a img {
    filter: brightness(0) invert(0);
}

.sidebar ul a i {
    margin-right: 4rem;
}

.sidebar.closed {
    left: -15vw;
}

#check {
    display: none;
}

label #btn {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #open {
    position: absolute;
    cursor: pointer;
    background: var(--teal);
}

label #open {
    padding: 6px;
    transition: all 0.5s ease;
}

label #btn {
    z-index: 1111;
    left: -15vw;
    color: #000000;
    padding: 4px;
    transition: all 0.5s ease;
}

#check:checked~.sidebar {
    left: 0vw;
}

#check:checked~label #btn {
    left: 15vw;
}

.section {
    width: 80%;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.section .title {
    display: flex;
    text-align: center;
    color: white;
}