.form-box {
    margin: 0 auto;
    width: 60vw;
    max-width: 720px;
    border: 2px solid var(--teal);
    border-radius: 82px;
    padding: 2rem 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    width: 75%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-label {
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--black-lighter);
    font-size: medium;
    padding: 1rem 0;
    gap: 1%;
}

.form-field {
    border: 2px solid var(--teal);
    border-radius: 3rem;
    padding: 1rem 2rem;
    font-family: var(--poppins);
    font-size: small;
    color: var(--teal);
}

.form-field:focus {
    border-color: var(--teal);
}

.form-field:active {
    border-color: var(--teal);
}

.button {
    margin-top: 1rem;
}

h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.button {
    padding: 0.5rem!important;
}

.file-upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}