h1 {
    margin: 80px 0 40px 40px;
}

.vert-m-50 {
    margin: 50px 0;
}

.center-contents {
    display: flex; 
    flex-direction: column;
    gap: 20px;
}


.edit-link {
    text-decoration: none;
    color: #007bff;
}

.edit-link:hover {
    text-decoration: underline;
}

select {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
}

select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

select option {
    background-color: #fff;
    color: #333;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 60%;
    border-radius: 2px;
    align-items: center;
    text-align: center;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff !important;
}
th{
    color: #fff !important;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}