.form-box {
    margin: auto;
    width: 80vw; max-width: 720px;
    height: 62vh; min-height: 480px;

    border: 2px solid var(--teal);
    border-radius: 82px;
}

.centered img {
    margin-left: auto;
    margin-right: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center-contents {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.form-content {
    width: 75%; height: 85%;
}

.form-label {
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--black-lighter);
    font-size: x-large;
    padding: 20px 0;
}

.form-field {
    border: 2px solid var(--teal);
    border-radius: 3rem;
    padding: 1rem 2rem;
    
    font-family: var(--poppins);
    font-size: large;

    color: var(--teal);
}

.form-field:focus {
    border-color: var(--teal);
}

.form-field:active {
    border-color: var(--teal);
}

::placeholder {
    color: var(--teal);
    opacity: 0.5; /* Firefox */
  }
  
::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--teal);
    opacity: 0.5; /* Firefox */
}

p {
    color: var(--teal);
    text-align: center;
}

a {
    text-decoration: none;
}

p b{
    color: var(--teal);
}